body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
  
  .sidebar {
    width: 200px;
    min-height: 100vh;
    background-color: #759aff !important; 
    color: rgb(0, 0, 0); /* Set text color to black */
    border-right: 1px solid #000; /* Add a black border on the right side */
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    z-index: 1;
  }
  
  .btn-toggle {
    width: 100%;
    text-align: left;
    color: rgb(255, 255, 255);
   /* Set text color to white */
    text-shadow: 1px 1px 1px #000; /* Add a black stroke to the text */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .btn-toggle + .collapse {
    margin-top: 0;
  }
  
  .btn-toggle-nav {
    padding-left: 20px;
  }
  
  .btn-toggle-nav a {
    display: block;
    padding: 5px 0;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px #000;
    transition: background-color 0.3s;
  }
  
  .btn-toggle-nav a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Darker background color on hover */
  }
  
  /* Additional styles for the dropup menu items */
  .dropdown-menu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  #content {
    margin-left: 200px;
    padding: 15px;
    transition: margin-left 0.5s;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .rounded-box {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a drop shadow */
    flex-grow: 1; /* Fill the remaining space in the flex container */
  }
  .logo {
    
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #ccc; /* Add a border at the bottom for separation */
    
  }
  
  .logo span {
    font-size: 2.2rem; /* Adjust the font size as needed */
    font-weight: bold;
    margin-left: 10px; /* Add some margin between the input and the text */
    
    font-family: 'Times New Roman', Times, serif;
  }
  