{% load static%}
{% csrf_token %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Paint solve</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
            
            {% if user.is_authenticated %}
          
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Product
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'products' %}">View Products</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'add_record' %}">Add Products</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'issue_product' %}">Issue Products</a></li>
            </ul>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user_profile' %}">{{user.username }}</a>
            </li>
         
            <!-- admin only nav  --> 
           {% if user.is_superuser %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Supplier
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'supplier' %}">View Supplier</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'add_supplier' %}">Add Supplier</a></li>
            </ul>
            
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'edit_profile' user_id=request.user.id %}">Edit Profile</a>
         </li>
        
              
              {% endif %}
               <!-- admin only navbar end  --> 
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">logout</a>
          </li>
          <form class="d-flex" role="search">
            
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          {% else%}
          
          <a class="btn btn-success" href="{%url 'login'%}" role="button">Login</a> 
          
          <a class="btn btn-success" href="{% url 'register'%}" role="button">Register</a>
          
          
          
          {% endif %}
         
         
        </ul>
        
      </div>
    </div>
  </nav> 
  <!-- <div class="sidebar">
    <a href="#" class="logo">
        <i class='bx bx-code-alt'></i>
        <div class="logo-name"><span>paint</span>solve<span></div>
    </a>
    <ul class="side-menu">
        <li><a href="#"><i class='bx bxs-dashboard bx-tada' style='color:#003032'></i>Dashboard</a></li>

        <li><a href="#"><i class='bx bxs-user-voice bx-tada' style='color:#331054' ></i>customer<span class='bx bx-chevron-down first'></span></a>
        <ul class="cust-show">
        <li><a href="#"><i class='bx bx-low-vision bx-flashing' style='color:#770f83' ></i>View customer</a></li>
        <li><a href="#"><i class='bx bx-plus bx-rotate-90 bx-flashing' style='color:#770f83'></i>Add customer</a></li>
        <li><a href="#"><i class='bx bx-comment-x bx-flashing bx-flip-vertical' style='color:#770f83' ></i>Delete customer</a></li>  
    </ul>
    </li>
        <li><a href="#"><i class='bx bx-category-alt bx-tada' style='color:#153200' ></i>Categories <span class='bx bx-chevron-down second'></span></a>
        <ul class="cat-show">
        <li><a href="#"><i class='bx bx-plus bx-rotate-90 bx-flashing' style='color:#770f83'></i>Add Category</a></li>
        <li><a href="#"><i class='bx bx-comment-x bx-flashing bx-flip-vertical' style='color:#770f83'></i>Delete category</a></li>
        <li><a href="#"><i class='bx bx-low-vision bx-flashing' style='color:#770f83' ></i>View category</a></li>
    </ul>
    </li>
        <li><a href="#"><i class='bx bxs-coin-stack bx-tada bx-flip-vertical' style='color:#250032'></i>Products <span class='bx bx-chevron-down theird'></span></a>
        <ul class="prod-show">
        <li><a href="#"><i class='bx bx-plus bx-rotate-90 bx-flashing' style='color:#770f83'></i>Add Product</a></li>
        <li><a href="#"><i class='bx bx-low-vision bx-flashing' style='color:#770f83' ></i>View Product</a></li>
        <li><a href="#"><i class='bx bx-comment-x bx-flashing bx-flip-vertical' style='color:#770f83'></i>Delete product</a></li>
        </ul></li>
        <li><a href="#"><i class='bx bxs-user' style='color:#063200' ></i>Staff Managmnet<span class='bx bx-chevron-down fourth'></span></a>
        <ul class="staff-show">
        <li><a href="#"><i class='bx bx-low-vision bx-flashing' style='color:#770f83' ></i>view staff</a></li>
        <li><a href="#"><i class='bx bx-plus bx-rotate-90 bx-flashing' style='color:#770f83'></i>Add Staff</a></li>
        <li><a href="#"><i class='bx bx-comment-x bx-flashing bx-flip-vertical' style='color:#770f83'></i>Delete staff </a></li>
        </ul></li>
        <li><a href="#"><i class='bx bxs-truck bx-fade-right' style='color:#070032'></i>Supplier Manage<span class='bx bx-chevron-down five'></span></a>
        <ul class="supp-show">
        <li><a href="#"><i class='bx bx-plus bx-rotate-90 bx-flashing' style='color:#770f83'></i>Add Supplier</a></li>
        <li><a href="#"><i class='bx bx-comment-x bx-flashing bx-flip-vertical' style='color:#770f83'></i>Delete supplier</a></li>
        </ul></li>
        <li><a href="#"><i class='bx bxs-cart bx-tada'></i>stock<span class='bx bx-chevron-down six'></span></a>
        <ul class="stk-show">
        <li><a href="#"><i class='bx bx-low-vision bx-flashing' style='color:#770f83' ></i>view Stock</a></li>
        <li><a href="#"><i class='bx bx-plus bx-rotate-90 bx-flashing' style='color:#770f83'></i>Add Stock</a></li>
        <li><a href="#"><i class='bx bxs-up-arrow bx-flashing' style='color:#770f83' ></i>update stock</a></li>
        </ul>
    </li>
        <li><a href="#"><i class='bx bx-wallet bx-tada' style='color:#4d1054' ></i>Sales</a></li>
        <li><a href="#"><i class='bx bxs-cog bx-tada bx-flip-horizontal' style='color:black'></i>settings</a></li>
    </ul>       
    <ul class="side-menu">
        <li>
            <a href="#" class="logout">
                <i class='bx bx-log-out-circle'></i>
                Logout
            </a>
        </li>
    </ul>
</div> -->